/* .headerdiv {
    margin: 0;
    background-color: white;
    height: 100px;
    align-content: center;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.5);
}

.headerlogo {
    margin: 0 10px;
    float: left;
    width: 100px;
    height: 100px;
}

.headertitle {
    float: left;
    padding: 20px 0;
    font-family: 'Playfair Display', serif;
}

.loginmodalbutton {
    float: right;
    margin: 30px;
}

.headermodal {
    padding: 20px 0;
} */